In [49]:
import pandas as pd

In [53]:
raw_df = pd.read_csv("US Wheat Futures Historical Data.csv")

In [54]:
raw_df

          Date     Price
0     2011.1.3    805.25
1     2011.1.4       788
2     2011.1.5    809.88
3     2011.1.6    788.13
4     2011.1.7    772.13
...        ...       ...
3013  2022.6.3  1,040.00
3014  2022.6.5  1,061.88
3015  2022.6.6  1,093.00
3016  2022.6.7  1,071.75
3017  2022.6.8  1,075.50

[3018 rows x 2 columns]

In [55]:
baltic = pd.read_csv('Baltic Dry Index Historical Data.csv')

In [56]:
baltic

           Date Baltic_Price
0      2012.7.4     1,103.00
1      2012.7.5     1,138.00
2      2012.7.6     1,157.00
3      2012.7.9     1,162.00
4     2012.7.10     1,160.00
...         ...          ...
2474  2022.5.30     2,571.00
2475  2022.5.31     2,566.00
2476   2022.6.1     2,633.00
2477   2022.6.6     2,560.00
2478   2022.6.7     2,514.00

[2479 rows x 2 columns]

In [57]:
df_total = pd.merge(raw_df, baltic, on = "Date", how = "outer")

In [58]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3055 entries, 0 to 3054
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          3055 non-null   object
 1   Price         3018 non-null   object
 2   Baltic_Price  2479 non-null   object
dtypes: object(3)
memory usage: 95.5+ KB

In [59]:
df_year2 = pd.read_csv("2year_bond.csv")

In [60]:
df_year2

           Date   Price    Open    High    Low  Change %
0      2011.1.3  0.6010  0.6010  0.6010  0.601   -0.0066
1      2011.1.4  0.6210  0.6210  0.6210  0.621    0.0333
2      2011.1.5  0.7080  0.7080  0.7080  0.708    0.1401
3      2011.1.6  0.6770  0.6770  0.6770  0.677   -0.0438
4      2011.1.7  0.5970  0.5970  0.5970  0.597   -0.1182
...         ...     ...     ...     ...    ...       ...
3374   2022.3.7  1.5563  1.4260  1.5640  1.422    0.0901
3375   2022.3.8  1.6008  1.5540  1.6410  1.552    0.0286
3376   2022.3.9  1.6757  1.6150  1.6880  1.593    0.0468
3377  2022.3.10  1.7024  1.6820  1.7350  1.650    0.0159
3378  2022.3.11  1.7011  1.6963  1.7072  1.678   -0.0008

[3379 rows x 6 columns]

In [61]:
df_year2.columns = ["Date", "Y2_Price", "Y2_Open", 'Y2_High', 'Y2_Low', 'Y2_Change']

In [62]:
df_total = pd.merge(df_total, df_year2, on = "Date", how = "outer")

In [63]:
df_total

,Date,Price,Baltic_Price,Y2_Price,Y2_Open,Y2_High,Y2_Low,Y2_Change
0,2011.1.3,805.25,NaN,0.6010,0.6010,0.6010,0.6010,-0.0066
1,2011.1.4,788,NaN,0.6210,0.6210,0.6210,0.6210,0.0333
2,2011.1.5,809.88,NaN,0.7080,0.7080,0.7080,0.7080,0.1401
3,2011.1.6,788.13,NaN,0.6770,0.6770,0.6770,0.6770,-0.0438
4,2011.1.7,772.13,NaN,0.5970,0.5970,0.5970,0.5970,-0.1182
...,...,...,...,...,...,...,...,...
3550,2022.1.23,NaN,NaN,1.0260,1.0260,1.0260,1.0260,0.0100
3551,2022.1.30,NaN,NaN,1.2001,1.1961,1.2001,1.1961,0.0237
3552,2022.2.6,NaN,NaN,1.3220,1.3280,1.3280,1.3220,0.0046
3553,2022.2.27,NaN,NaN,1.4881,1.4940,1.4980,1.4881,-0.0520
3554,2022.3.6,NaN,NaN,1.4277,1.4437,1.4437,1.4277,-0.0417

In [64]:
df_year10 = pd.read_csv("10year_bond.csv")

In [65]:
df_year10

           Date  Price   Open   High    Low  Change %
0      2011.1.3  3.334  3.334  3.334  3.334    0.0140
1      2011.1.4  3.338  3.338  3.338  3.338    0.0012
2      2011.1.5  3.463  3.463  3.463  3.463    0.0374
3      2011.1.6  3.399  3.399  3.399  3.399   -0.0185
4      2011.1.7  3.328  3.328  3.328  3.328   -0.0209
...         ...    ...    ...    ...    ...       ...
3310   2022.3.7  1.777  1.683  1.806  1.668    0.0557
3311   2022.3.8  1.840  1.773  1.878  1.758    0.0358
3312   2022.3.9  1.951  1.865  1.957  1.837    0.0603
3313  2022.3.10  1.993  1.951  2.021  1.911    0.0215
3314  2022.3.11  1.983  1.979  1.985  1.964   -0.0053

[3315 rows x 6 columns]

In [66]:
df_year10.columns

Index(['Date', 'Price', 'Open', 'High', 'Low', 'Change %'], dtype='object')

In [67]:
df_year10.columns = ["Date", "Y10_Price", "Y10_Open", 'Y10_High', 'Y10_Low', 'Y10_Change']

In [68]:
df_total = pd.merge(df_total, df_year10, on = "Date", how = "outer")

In [69]:
df_total

,Date,Price,Baltic_Price,Y2_Price,Y2_Open,Y2_High,Y2_Low,Y2_Change,Y10_Price,Y10_Open,Y10_High,Y10_Low,Y10_Change
0,2011.1.3,805.25,NaN,0.601,0.601,0.601,0.601,-0.0066,3.334,3.334,3.334,3.334,0.0140
1,2011.1.4,788,NaN,0.621,0.621,0.621,0.621,0.0333,3.338,3.338,3.338,3.338,0.0012
2,2011.1.5,809.88,NaN,0.708,0.708,0.708,0.708,0.1401,3.463,3.463,3.463,3.463,0.0374
3,2011.1.6,788.13,NaN,0.677,0.677,0.677,0.677,-0.0438,3.399,3.399,3.399,3.399,-0.0185
4,2011.1.7,772.13,NaN,0.597,0.597,0.597,0.597,-0.1182,3.328,3.328,3.328,3.328,-0.0209
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3555,2011.2.21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.576,3.576,3.576,3.576,-0.0018
3556,2011.11.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.894,1.894,1.894,1.894,0.0031
3557,2012.1.16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.860,1.860,1.860,1.860,-0.0059
3558,2012.2.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.038,2.038,2.038,2.038,0.0189
3559,2017.7.23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.232,2.237,2.237,2.230,-0.0024

In [70]:
df_us_cn = pd.read_csv("us_cn.csv")

In [71]:
df_us_cn

      Unnamed: 0       Date  UC_Price  UC_Open  UC_High  UC_Low  UC_Change
0           2902   2011.1.3    6.5898   6.5896   6.5898  6.5896    -0.0001
1           2901   2011.1.4    6.6070   6.5900   6.6123  6.5900     0.0026
2           2900   2011.1.5    6.6193   6.6071   6.6261  6.6089     0.0019
3           2899   2011.1.6    6.6263   6.6229   6.6269  6.6198     0.0011
4           2898   2011.1.7    6.6282   6.6251   6.6330  6.6251     0.0003
...          ...        ...       ...      ...      ...     ...        ...
2898           4   2022.3.7    6.3194   6.3258   6.3263  6.3158     0.0001
2899           3   2022.3.8    6.3178   6.3162   6.3214  6.3095    -0.0003
2900           2   2022.3.9    6.3174   6.3174   6.3286  6.3123    -0.0001
2901           1  2022.3.10    6.3212   6.3169   6.3264  6.3151     0.0006
2902           0  2022.3.11    6.3218   6.3219   6.3265  6.3209     0.0001

[2903 rows x 7 columns]

In [72]:
df_us_cn = df_us_cn.drop(['Unnamed: 0'], axis=1)

In [73]:
df_total = pd.merge(df_total, df_us_cn, on = "Date", how = "outer")

In [74]:
df_total

,Date,Price,Baltic_Price,Y2_Price,Y2_Open,Y2_High,Y2_Low,Y2_Change,Y10_Price,Y10_Open,Y10_High,Y10_Low,Y10_Change,UC_Price,UC_Open,UC_High,UC_Low,UC_Change
0,2011.1.3,805.25,NaN,0.601,0.601,0.601,0.601,-0.0066,3.334,3.334,3.334,3.334,0.0140,6.5898,6.5896,6.5898,6.5896,-0.0001
1,2011.1.4,788,NaN,0.621,0.621,0.621,0.621,0.0333,3.338,3.338,3.338,3.338,0.0012,6.6070,6.5900,6.6123,6.5900,0.0026
2,2011.1.5,809.88,NaN,0.708,0.708,0.708,0.708,0.1401,3.463,3.463,3.463,3.463,0.0374,6.6193,6.6071,6.6261,6.6089,0.0019
3,2011.1.6,788.13,NaN,0.677,0.677,0.677,0.677,-0.0438,3.399,3.399,3.399,3.399,-0.0185,6.6263,6.6229,6.6269,6.6198,0.0011
4,2011.1.7,772.13,NaN,0.597,0.597,0.597,0.597,-0.1182,3.328,3.328,3.328,3.328,-0.0209,6.6282,6.6251,6.6330,6.6251,0.0003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3562,2015.12.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.4764,6.4745,6.4778,6.4692,-0.0001
3563,2016.1.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.4936,6.4936,6.4936,6.4936,0.0000
3564,2016.3.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.5160,6.5175,6.5231,6.5115,0.0002
3565,2017.4.14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.8854,6.8884,6.8893,6.8821,-0.0007
3566,2018.3.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.2753,6.2855,6.2882,6.2660,-0.0023

In [75]:
df_us_eu = pd.read_csv("us_eu.csv")
df_us_eu = df_us_eu.drop(['Unnamed: 0'], axis=1)
df_us_eu.columns
df_us_eu.columns = ["Date", "EU_Price", "EU_Open", 'EU_High', 'EU_Low', 'EU_Change']
df_total = pd.merge(df_total, df_us_eu, on = "Date", how = "outer")
df_total

,Date,Price,Baltic_Price,Y2_Price,Y2_Open,Y2_High,Y2_Low,Y2_Change,Y10_Price,Y10_Open,...,UC_Price,UC_Open,UC_High,UC_Low,UC_Change,EU_Price,EU_Open,EU_High,EU_Low,EU_Change
0,2011.1.3,805.25,NaN,0.601,0.601,0.601,0.601,-0.0066,3.334,3.334,...,6.5898,6.5896,6.5898,6.5896,-0.0001,0.7488,0.7491,0.7549,0.7464,0.0019
1,2011.1.4,788,NaN,0.621,0.621,0.621,0.621,0.0333,3.338,3.338,...,6.6070,6.5900,6.6123,6.5900,0.0026,0.7514,0.7486,0.7525,0.7443,0.0035
2,2011.1.5,809.88,NaN,0.708,0.708,0.708,0.708,0.1401,3.463,3.463,...,6.6193,6.6071,6.6261,6.6089,0.0019,0.7603,0.7514,0.7620,0.7503,0.0118
3,2011.1.6,788.13,NaN,0.677,0.677,0.677,0.677,-0.0438,3.399,3.399,...,6.6263,6.6229,6.6269,6.6198,0.0011,0.7686,0.7605,0.7695,0.7591,0.0109
4,2011.1.7,772.13,NaN,0.597,0.597,0.597,0.597,-0.1182,3.328,3.328,...,6.6282,6.6251,6.6330,6.6251,0.0003,0.7746,0.7688,0.7750,0.7678,0.0078
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3562,2015.12.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.4764,6.4745,6.4778,6.4692,-0.0001,0.9110,0.9111,0.9140,0.9107,-0.0007
3563,2016.1.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.4936,6.4936,6.4936,6.4936,0.0000,0.9208,0.9207,0.9224,0.9198,0.0001
3564,2016.3.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.5160,6.5175,6.5231,6.5115,0.0002,0.8956,0.8947,0.8967,0.8936,0.0007
3565,2017.4.14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.8854,6.8884,6.8893,6.8821,-0.0007,0.9424,0.9422,0.9430,0.9405,0.0002
3566,2018.3.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.2753,6.2855,6.2882,6.2660,-0.0023,0.8115,0.8130,0.8135,0.8108,-0.0017

In [76]:
df_us_gb = pd.read_csv("us_gb.csv")
df_us_gb = df_us_gb.drop(['Unnamed: 0'], axis=1)
df_us_gb.columns
df_us_gb.columns = ["Date", "GB_Price", "GB_Open", 'GB_High', 'GB_Low', 'GB_Change']
df_total = pd.merge(df_total, df_us_gb, on = "Date", how = "outer")
df_total

,Date,Price,Baltic_Price,Y2_Price,Y2_Open,Y2_High,Y2_Low,Y2_Change,Y10_Price,Y10_Open,...,EU_Price,EU_Open,EU_High,EU_Low,EU_Change,GB_Price,GB_Open,GB_High,GB_Low,GB_Change
0,2011.1.3,805.25,NaN,0.601,0.601,0.601,0.601,-0.0066,3.334,3.334,...,0.7488,0.7491,0.7549,0.7464,0.0019,0.6459,0.6421,0.6480,0.6415,0.0076
1,2011.1.4,788,NaN,0.621,0.621,0.621,0.621,0.0333,3.338,3.338,...,0.7514,0.7486,0.7525,0.7443,0.0035,0.6415,0.6457,0.6471,0.6391,-0.0068
2,2011.1.5,809.88,NaN,0.708,0.708,0.708,0.708,0.1401,3.463,3.463,...,0.7603,0.7514,0.7620,0.7503,0.0118,0.6448,0.6415,0.6472,0.6398,0.0051
3,2011.1.6,788.13,NaN,0.677,0.677,0.677,0.677,-0.0438,3.399,3.399,...,0.7686,0.7605,0.7695,0.7591,0.0109,0.6464,0.6442,0.6473,0.6425,0.0025
4,2011.1.7,772.13,NaN,0.597,0.597,0.597,0.597,-0.1182,3.328,3.328,...,0.7746,0.7688,0.7750,0.7678,0.0078,0.6428,0.6463,0.6490,0.6418,-0.0056
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3562,2015.12.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.9110,0.9111,0.9140,0.9107,-0.0007,0.6696,0.6703,0.6717,0.6690,-0.0012
3563,2016.1.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.9208,0.9207,0.9224,0.9198,0.0001,0.6781,0.6785,0.6788,0.6760,-0.0004
3564,2016.3.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.8956,0.8947,0.8967,0.8936,0.0007,0.7070,0.7065,0.7087,0.7060,0.0006
3565,2017.4.14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.9424,0.9422,0.9430,0.9405,0.0002,0.7984,0.7996,0.8001,0.7977,-0.0018
3566,2018.3.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.8115,0.8130,0.8135,0.8108,-0.0017,0.7134,0.7134,0.7138,0.7111,-0.0001

In [77]:
df_us_jp = pd.read_csv("us_jp.csv")
df_us_jp = df_us_jp.drop(['Unnamed: 0'], axis=1)
df_us_jp.columns
df_us_jp.columns = ["Date", "JP_Price", "JP_Open", 'JP_High', 'JP_Low', 'JP_Change']
df_total = pd.merge(df_total, df_us_jp, on = "Date", how = "outer")
df_total

,Date,Price,Baltic_Price,Y2_Price,Y2_Open,Y2_High,Y2_Low,Y2_Change,Y10_Price,Y10_Open,...,GB_Price,GB_Open,GB_High,GB_Low,GB_Change,JP_Price,JP_Open,JP_High,JP_Low,JP_Change
0,2011.1.3,805.25,NaN,0.601,0.601,0.601,0.601,-0.0066,3.334,3.334,...,0.6459,0.6421,0.6480,0.6415,0.0076,81.67,81.13,81.75,81.13,0.0063
1,2011.1.4,788,NaN,0.621,0.621,0.621,0.621,0.0333,3.338,3.338,...,0.6415,0.6457,0.6471,0.6391,-0.0068,82.06,81.67,82.28,81.61,0.0047
2,2011.1.5,809.88,NaN,0.708,0.708,0.708,0.708,0.1401,3.463,3.463,...,0.6448,0.6415,0.6472,0.6398,0.0051,83.19,82.06,83.38,81.89,0.0138
3,2011.1.6,788.13,NaN,0.677,0.677,0.677,0.677,-0.0438,3.399,3.399,...,0.6464,0.6442,0.6473,0.6425,0.0025,83.31,83.19,83.39,82.88,0.0015
4,2011.1.7,772.13,NaN,0.597,0.597,0.597,0.597,-0.1182,3.328,3.328,...,0.6428,0.6463,0.6490,0.6418,-0.0056,83.14,83.31,83.69,82.86,-0.0020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3562,2015.12.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.6696,0.6703,0.6717,0.6690,-0.0012,120.42,120.46,120.48,120.02,-0.0002
3563,2016.1.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.6781,0.6785,0.6788,0.6760,-0.0004,120.33,120.27,120.33,120.27,0.0001
3564,2016.3.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.7070,0.7065,0.7087,0.7060,0.0006,113.07,112.91,113.33,112.73,0.0014
3565,2017.4.14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.7984,0.7996,0.8001,0.7977,-0.0018,108.64,109.09,109.25,108.55,-0.0041
3566,2018.3.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.7134,0.7134,0.7138,0.7111,-0.0001,106.28,106.42,106.55,106.11,-0.0014

In [78]:
df_energy = pd.read_csv("total energy.csv")

In [79]:
df_energy

,Date,WTI_Price,WTI_Open,WTI_High,WTI_Low,WTI_Change,B_Price,B_Open,B_High,B_Low,...,Gas_Price,Gas_Open,Gas_High,Gas_Low,Gas_Change %,heating_Price,heating_Open,heating_High,heating_Low,heating_Change %
0,2011.1.4,89.38,91.50,92.07,88.36,-2.37%,93.53,94.92,95.74,92.58,...,4.669,4.627,4.707,4.557,0.41%,2.5065,2.5550,2.5723,2.4835,-1.81%
1,2011.1.5,90.30,89.29,90.84,88.10,1.03%,95.50,93.35,95.86,92.37,...,4.473,4.611,4.640,4.447,-4.20%,2.5422,2.5035,2.5536,2.4678,1.42%
2,2011.1.6,88.38,90.47,90.71,87.85,-2.13%,94.52,95.70,96.12,94.01,...,4.434,4.486,4.623,4.380,-0.87%,2.5112,2.5455,2.5586,2.4988,-1.22%
3,2011.1.7,88.03,88.18,89.48,87.25,-0.40%,93.33,94.38,94.58,92.59,...,4.422,4.400,4.450,4.327,-0.27%,2.4863,2.5139,2.5233,2.4710,-0.99%
4,2011.1.10,89.25,89.00,89.98,88.13,1.39%,95.70,93.80,95.88,93.60,...,4.399,4.373,4.450,4.322,-0.52%,2.5561,2.5090,2.5635,2.4930,2.81%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2931,2011.5.30,NaN,NaN,NaN,NaN,NaN,114.68,114.87,115.00,114.24,...,NaN,NaN,NaN,NaN,NaN,2.9968,2.9973,2.9990,2.9767,0.21%
2932,2011.4.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.2026,3.2026,3.2026,3.2026,0.11%
2933,2011.12.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.9047,2.9085,2.9120,2.9047,0.48%
2934,2012.1.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.9375,2.9108,2.9430,2.9108,0.09%
2935,2013.1.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.0344,3.0337,3.0360,3.0316,-0.35%

In [80]:
df_total = pd.merge(df_total, df_energy, on = "Date", how = "outer")
df_total

,Date,Price,Baltic_Price,Y2_Price,Y2_Open,Y2_High,Y2_Low,Y2_Change,Y10_Price,Y10_Open,...,Gas_Price,Gas_Open,Gas_High,Gas_Low,Gas_Change %,heating_Price,heating_Open,heating_High,heating_Low,heating_Change %
0,2011.1.3,805.25,NaN,0.601,0.601,0.601,0.601,-0.0066,3.334,3.334,...,4.650,4.492,4.689,4.491,5.56%,2.5528,2.5424,2.5881,2.5340,0.36%
1,2011.1.4,788,NaN,0.621,0.621,0.621,0.621,0.0333,3.338,3.338,...,4.669,4.627,4.707,4.557,0.41%,2.5065,2.5550,2.5723,2.4835,-1.81%
2,2011.1.5,809.88,NaN,0.708,0.708,0.708,0.708,0.1401,3.463,3.463,...,4.473,4.611,4.640,4.447,-4.20%,2.5422,2.5035,2.5536,2.4678,1.42%
3,2011.1.6,788.13,NaN,0.677,0.677,0.677,0.677,-0.0438,3.399,3.399,...,4.434,4.486,4.623,4.380,-0.87%,2.5112,2.5455,2.5586,2.4988,-1.22%
4,2011.1.7,772.13,NaN,0.597,0.597,0.597,0.597,-0.1182,3.328,3.328,...,4.422,4.400,4.450,4.327,-0.27%,2.4863,2.5139,2.5233,2.4710,-0.99%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3582,2021.1.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.640,2.641,2.657,2.639,-3.54%,1.5881,1.5829,1.5914,1.5829,-0.30%
3583,2021.7.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.719,3.701,3.724,3.686,0.51%,2.1787,2.1768,2.1810,2.1746,-0.02%
3584,2021.9.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.724,4.727,4.742,4.715,0.25%,2.1436,2.1567,2.1572,2.1436,-0.73%
3585,2022.1.16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.335,4.338,4.350,4.323,1.71%,2.6494,2.6471,2.6540,2.6471,0.57%
3586,2022.2.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.579,4.529,4.598,4.527,3.34%,2.7832,2.7833,2.7889,2.7821,0.06%

In [81]:
NAV_dollar_index = pd.read_csv('NAV_dollar_index.csv')

In [82]:
NAV_dollar_index

,Date,NAV,Dollor_Price,Dollor_Open,Dollor_High,Dollor_Low,Dollor_Change %
0,2011.1.4,31.64,79.44,79.09,79.51,78.89,0.39
1,2011.1.5,31.91,80.26,79.40,80.35,79.34,1.03
2,2011.1.6,31.57,80.79,80.19,80.94,80.15,0.66
3,2011.1.7,31.65,81.01,80.87,81.14,80.69,0.27
4,2011.1.10,31.88,80.88,81.16,81.31,80.81,-0.16
...,...,...,...,...,...,...,...
5542,2022.3.5,21.85,NaN,NaN,NaN,NaN,NaN
5543,2022.3.6,21.85,NaN,NaN,NaN,NaN,NaN
5544,2022.3.11,21.84,99.12,98.36,99.16,98.27,0.63
5545,2022.3.12,21.84,NaN,NaN,NaN,NaN,NaN
5546,2022.3.13,21.84,NaN,NaN,NaN,NaN,NaN

In [83]:
df_total = pd.merge(df_total, NAV_dollar_index, on = "Date", how = "outer")
df_total

,Date,Price,Baltic_Price,Y2_Price,Y2_Open,Y2_High,Y2_Low,Y2_Change,Y10_Price,Y10_Open,...,heating_Open,heating_High,heating_Low,heating_Change %,NAV,Dollor_Price,Dollor_Open,Dollor_High,Dollor_Low,Dollor_Change %
0,2011.1.3,805.25,NaN,0.601,0.601,0.601,0.601,-0.0066,3.334,3.334,...,2.5424,2.5881,2.5340,0.36%,32.18,79.13,79.14,79.53,78.99,0.13
1,2011.1.4,788,NaN,0.621,0.621,0.621,0.621,0.0333,3.338,3.338,...,2.5550,2.5723,2.4835,-1.81%,31.64,79.44,79.09,79.51,78.89,0.39
2,2011.1.5,809.88,NaN,0.708,0.708,0.708,0.708,0.1401,3.463,3.463,...,2.5035,2.5536,2.4678,1.42%,31.91,80.26,79.40,80.35,79.34,1.03
3,2011.1.6,788.13,NaN,0.677,0.677,0.677,0.677,-0.0438,3.399,3.399,...,2.5455,2.5586,2.4988,-1.22%,31.57,80.79,80.19,80.94,80.15,0.66
4,2011.1.7,772.13,NaN,0.597,0.597,0.597,0.597,-0.1182,3.328,3.328,...,2.5139,2.5233,2.4710,-0.99%,31.65,81.01,80.87,81.14,80.69,0.27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5607,2022.2.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,21.08,NaN,NaN,NaN,NaN,NaN
5608,2022.2.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,21.04,NaN,NaN,NaN,NaN,NaN
5609,2022.2.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,20.69,NaN,NaN,NaN,NaN,NaN
5610,2022.3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,21.85,NaN,NaN,NaN,NaN,NaN
5611,2022.3.12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,21.84,NaN,NaN,NaN,NaN,NaN

In [84]:
after_total = df_total.dropna(axis=0)

In [85]:
after_total

,Date,Price,Baltic_Price,Y2_Price,Y2_Open,Y2_High,Y2_Low,Y2_Change,Y10_Price,Y10_Open,...,heating_Open,heating_High,heating_Low,heating_Change %,NAV,Dollor_Price,Dollor_Open,Dollor_High,Dollor_Low,Dollor_Change %
436,2012.7.5,828,"1,138.00",0.2890,0.289,0.289,0.289,-0.0534,1.599,1.599,...,2.7585,2.7899,2.7256,1.13%,29.36,82.81,82.19,82.95,82.08,1.26
437,2012.7.6,807.13,"1,157.00",0.2740,0.274,0.274,0.274,-0.0519,1.549,1.549,...,2.7545,2.7575,2.7032,-2.11%,28.97,83.38,82.83,83.43,82.75,0.69
439,2012.7.9,817.75,"1,162.00",0.2660,0.266,0.266,0.266,-0.0285,1.513,1.513,...,2.7099,2.7670,2.7028,1.44%,29.65,83.16,83.38,83.43,83.09,-0.26
440,2012.7.10,822.5,"1,160.00",0.2700,0.270,0.270,0.270,0.0150,1.502,1.502,...,2.7490,2.7490,2.7112,-1.07%,29.45,83.40,83.10,83.49,82.98,0.29
441,2012.7.11,829.38,"1,146.00",0.2660,0.266,0.266,0.266,-0.0148,1.515,1.515,...,2.7249,2.7716,2.7218,1.56%,29.25,83.57,83.40,83.61,83.11,0.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2946,2022.3.4,"1,348.00","2,148.00",1.4899,1.552,1.554,1.412,-0.0237,1.737,1.854,...,3.5077,3.8000,3.4530,7.79%,21.85,98.65,98.04,98.92,97.84,0.88
2947,2022.3.7,"1,425.25","2,235.00",1.5563,1.426,1.564,1.422,0.0901,1.777,1.683,...,3.8325,4.2373,3.8125,3.85%,22.18,99.29,98.51,99.42,98.51,0.65
2948,2022.3.8,"1,273.00","2,352.00",1.6008,1.554,1.641,1.552,0.0286,1.840,1.773,...,3.9738,4.5275,3.9044,13.15%,22.25,99.06,99.24,99.32,98.71,-0.23
2949,2022.3.9,"1,199.50","2,558.00",1.6757,1.615,1.688,1.593,0.0468,1.951,1.865,...,4.5152,4.6709,3.3735,-21.93%,21.84,97.97,99.12,99.12,97.85,-1.10
2950,2022.3.10,"1,073.75","2,704.00",1.7024,1.682,1.735,1.650,0.0159,1.993,1.951,...,3.5471,3.8424,3.2835,-4.85%,21.73,98.51,98.06,98.60,97.71,0.55

In [91]:
after_total['Date'] = pd.to_datetime(after_total['Date'])

/var/folders/7n/qbcvswc55hzd4lnphhs0grb40000gn/T/ipykernel_8677/567566562.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after_total['Date'] = pd.to_datetime(after_total['Date'])

In [92]:
after_total.to_csv("final_raw_total(not_UN).csv", encoding="utf-8")

In [93]:
df_comtrade_un = pd.read_excel("Trade_NetWeight_flow_final.xlsx")
df_comtrade_un.columns

Index(['Date', 'NetWeight', 'TradeValue'], dtype='object')

In [94]:
df_total = after_total

In [95]:
df_total = pd.merge(df_total, df_comtrade_un, on = "Date", how = "outer")
df_total

,Date,Price,Baltic_Price,Y2_Price,Y2_Open,Y2_High,Y2_Low,Y2_Change,Y10_Price,Y10_Open,...,heating_Low,heating_Change %,NAV,Dollor_Price,Dollor_Open,Dollor_High,Dollor_Low,Dollor_Change %,NetWeight,TradeValue
0,2012-07-05,828,"1,138.00",0.289,0.289,0.289,0.289,-0.0534,1.599,1.599,...,2.7256,1.13%,29.36,82.81,82.19,82.95,82.08,1.26,133590778,75780605.0
1,2012-07-06,807.13,"1,157.00",0.274,0.274,0.274,0.274,-0.0519,1.549,1.549,...,2.7032,-2.11%,28.97,83.38,82.83,83.43,82.75,0.69,133590778,75780605.0
2,2012-07-09,817.75,"1,162.00",0.266,0.266,0.266,0.266,-0.0285,1.513,1.513,...,2.7028,1.44%,29.65,83.16,83.38,83.43,83.09,-0.26,133590778,75780605.0
3,2012-07-10,822.5,"1,160.00",0.270,0.270,0.270,0.270,0.0150,1.502,1.502,...,2.7112,-1.07%,29.45,83.40,83.10,83.49,82.98,0.29,133590778,75780605.0
4,2012-07-11,829.38,"1,146.00",0.266,0.266,0.266,0.266,-0.0148,1.515,1.515,...,2.7218,1.56%,29.25,83.57,83.40,83.61,83.11,0.20,133590778,75780605.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3768,2022-04-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,107540649,59496218.0
3769,2022-04-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,107540649,59496218.0
3770,2022-04-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,107540649,59496218.0
3771,2022-04-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,107540649,59496218.0
3772,2022-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,107540649,59496218.0

In [96]:
after_total = df_total.dropna(axis=0)

In [97]:
after_total

,Date,Price,Baltic_Price,Y2_Price,Y2_Open,Y2_High,Y2_Low,Y2_Change,Y10_Price,Y10_Open,...,heating_Low,heating_Change %,NAV,Dollor_Price,Dollor_Open,Dollor_High,Dollor_Low,Dollor_Change %,NetWeight,TradeValue
0,2012-07-05,828,"1,138.00",0.2890,0.289,0.289,0.289,-0.0534,1.599,1.599,...,2.7256,1.13%,29.36,82.81,82.19,82.95,82.08,1.26,133590778,75780605.0
1,2012-07-06,807.13,"1,157.00",0.2740,0.274,0.274,0.274,-0.0519,1.549,1.549,...,2.7032,-2.11%,28.97,83.38,82.83,83.43,82.75,0.69,133590778,75780605.0
2,2012-07-09,817.75,"1,162.00",0.2660,0.266,0.266,0.266,-0.0285,1.513,1.513,...,2.7028,1.44%,29.65,83.16,83.38,83.43,83.09,-0.26,133590778,75780605.0
3,2012-07-10,822.5,"1,160.00",0.2700,0.270,0.270,0.270,0.0150,1.502,1.502,...,2.7112,-1.07%,29.45,83.40,83.10,83.49,82.98,0.29,133590778,75780605.0
4,2012-07-11,829.38,"1,146.00",0.2660,0.266,0.266,0.266,-0.0148,1.515,1.515,...,2.7218,1.56%,29.25,83.57,83.40,83.61,83.11,0.20,133590778,75780605.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2358,2022-03-04,"1,348.00","2,148.00",1.4899,1.552,1.554,1.412,-0.0237,1.737,1.854,...,3.4530,7.79%,21.85,98.65,98.04,98.92,97.84,0.88,117306255,62077211.0
2359,2022-03-07,"1,425.25","2,235.00",1.5563,1.426,1.564,1.422,0.0901,1.777,1.683,...,3.8125,3.85%,22.18,99.29,98.51,99.42,98.51,0.65,117306255,62077211.0
2360,2022-03-08,"1,273.00","2,352.00",1.6008,1.554,1.641,1.552,0.0286,1.840,1.773,...,3.9044,13.15%,22.25,99.06,99.24,99.32,98.71,-0.23,117306255,62077211.0
2361,2022-03-09,"1,199.50","2,558.00",1.6757,1.615,1.688,1.593,0.0468,1.951,1.865,...,3.3735,-21.93%,21.84,97.97,99.12,99.12,97.85,-1.10,117306255,62077211.0
2362,2022-03-10,"1,073.75","2,704.00",1.7024,1.682,1.735,1.650,0.0159,1.993,1.951,...,3.2835,-4.85%,21.73,98.51,98.06,98.60,97.71,0.55,117306255,62077211.0

In [98]:
after_total.to_csv("temp_DB1.csv", encoding="utf-8")

In [ ]:
df = pd.read_csv('')

In [39]:
after_total["Date"] = pd.to_datetime(after_total["Date"])

In [40]:
after_total["Date"] = after_total["Date"].dt.strftime("%Y-%m-%d")

In [42]:
after_total

,Date,Price,Open,High,Low,Change %,Y2_Price,Y2_Open,Y2_High,Y2_Low,...,Dollor_Change %_x,Dollor_Price_y,Dollor_Open_y,Dollor_High_y,Dollor_Low_y,Dollor_Change %_y,Current_Price,Current_Change,Current_Change %,Stock
0,2011-01-04,25120.0,25120.0,25120.0,25120.0,0.0164,0.6210,0.621,0.621,0.621,...,0.39,79.44,79.09,79.51,78.89,0.39,25175,215,0.86,136890
1,2011-01-05,24720.0,24720.0,24720.0,24720.0,-0.0159,0.7080,0.708,0.708,0.708,...,1.03,80.26,79.40,80.35,79.34,1.03,24650,-525,-2.09,136860
2,2011-01-06,24534.0,24534.0,24534.0,24534.0,-0.0075,0.6770,0.677,0.677,0.677,...,0.66,80.79,80.19,80.94,80.15,0.66,24875,225,0.91,137040
3,2011-01-07,24180.0,24180.0,24180.0,24180.0,-0.0144,0.5970,0.597,0.597,0.597,...,0.27,81.01,80.87,81.14,80.69,0.27,24345,-530,-2.13,136896
4,2011-01-10,23847.0,23847.0,23847.0,23847.0,-0.0138,0.5730,0.573,0.573,0.573,...,-0.16,80.88,81.16,81.31,80.81,-0.16,24050,-295,-1.21,136806
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2700,2021-12-22,19951.0,19900.0,19850.0,19855.0,0.0171,0.6647,0.654,0.683,0.654,...,-0.43,96.08,96.47,96.60,96.02,-0.43,19985,235,1.19,104310
2701,2021-12-23,20021.0,20050.0,20040.0,20050.0,0.0035,0.6914,0.669,0.693,0.663,...,-0.06,96.02,96.03,96.28,95.99,-0.06,20180,195,0.98,104160
2702,2021-12-29,20383.0,20230.0,20200.0,20215.0,0.0169,0.7520,0.748,0.764,0.736,...,-0.28,95.93,96.15,96.39,95.76,-0.28,20320,25,0.12,103656
2703,2021-12-30,20587.0,20525.0,20490.0,20500.0,0.0100,0.7303,0.752,0.754,0.726,...,0.04,95.97,95.89,96.22,95.86,0.04,20700,380,1.87,103020
2704,2021-12-31,20757.0,20800.0,20750.0,20750.0,0.0083,0.7341,0.730,0.744,0.720,...,0.00,95.97,95.99,96.11,95.57,0.00,20925,225,1.09,101886

In [46]:
after_total = pd.read_csv("final_total1.csv")

In [48]:
after_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2705 entries, 0 to 2704
Data columns (total 83 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               2705 non-null   object
 1   Price              2705 non-null   float64
 2   Open               2705 non-null   float64
 3   High               2705 non-null   float64
 4   Low                2705 non-null   float64
 5   Change %           2705 non-null   float64
 6   Y2_Price           2705 non-null   float64
 7   Y2_Open            2705 non-null   float64
 8   Y2_High            2705 non-null   float64
 9   Y2_Low             2705 non-null   float64
 10  Y2_Change          2705 non-null   float64
 11  Y10_Price          2705 non-null   float64
 12  Y10_Open           2705 non-null   float64
 13  Y10_High           2705 non-null   float64
 14  Y10_Low            2705 non-null   float64
 15  Y10_Change         2705 non-null   float64
 16  UC_Price           2705 non-null   float64
 17  UC_Open            2705 non-null   float64
 18  UC_High            2705 non-null   float64
 19  UC_Low             2705 non-null   float64
 20  UC_Change          2705 non-null   float64
 21  EU_Price           2705 non-null   float64
 22  EU_Open            2705 non-null   float64
 23  EU_High            2705 non-null   float64
 24  EU_Low             2705 non-null   float64
 25  EU_Change          2705 non-null   float64
 26  GB_Price           2705 non-null   float64
 27  GB_Open            2705 non-null   float64
 28  GB_High            2705 non-null   float64
 29  GB_Low             2705 non-null   float64
 30  GB_Change          2705 non-null   float64
 31  JP_Price           2705 non-null   float64
 32  JP_Open            2705 non-null   float64
 33  JP_High            2705 non-null   float64
 34  JP_Low             2705 non-null   float64
 35  JP_Change          2705 non-null   float64
 36  KR_Price           2705 non-null   float64
 37  KR_Open            2705 non-null   float64
 38  KR_High            2705 non-null   float64
 39  KR_Low             2705 non-null   float64
 40  KR_Change          2705 non-null   float64
 41  NetWeight          2705 non-null   int64
 42  TradeValue         2705 non-null   int64
 43  WTI_Price          2705 non-null   float64
 44  WTI_Open           2705 non-null   float64
 45  WTI_High           2705 non-null   float64
 46  WTI_Low            2705 non-null   float64
 47  WTI_Change         2705 non-null   float64
 48  B_Price            2705 non-null   float64
 49  B_Open             2705 non-null   float64
 50  B_High             2705 non-null   float64
 51  B_Low              2705 non-null   float64
 52  B_Change           2705 non-null   float64
 53  Price_y            2705 non-null   float64
 54  Open_y             2705 non-null   float64
 55  High_y             2705 non-null   float64
 56  Low_y              2705 non-null   float64
 57  Change %_y         2705 non-null   float64
 58  Gas_Price          2705 non-null   float64
 59  Gas_Open           2705 non-null   float64
 60  Gas_High           2705 non-null   float64
 61  Gas_Low            2705 non-null   float64
 62  Gas_Change %       2705 non-null   float64
 63  heating_Price      2705 non-null   float64
 64  heating_Open       2705 non-null   float64
 65  heating_High       2705 non-null   float64
 66  heating_Low        2705 non-null   float64
 67  heating_Change %   2705 non-null   float64
 68  NAV                2705 non-null   float64
 69  Dollor_Price_x     2705 non-null   float64
 70  Dollor_Open_x      2705 non-null   float64
 71  Dollor_High_x      2705 non-null   float64
 72  Dollor_Low_x       2705 non-null   float64
 73  Dollor_Change %_x  2705 non-null   float64
 74  Dollor_Price_y     2705 non-null   float64
 75  Dollor_Open_y      2705 non-null   float64
 76  Dollor_High_y      2705 non-null   float64
 77  Dollor_Low_y       2705 non-null   float64
 78  Dollor_Change %_y  2705 non-null   float64
 79  Current_Price      2705 non-null   int64
 80  Current_Change     2705 non-null   int64
 81  Current_Change %   2705 non-null   float64
 82  Stock              2705 non-null   int64
dtypes: float64(77), int64(5), object(1)
memory usage: 1.7+ MB

In [30]:
df_STS = pd.read_csv('STS_Price.csv')

In [31]:
df = pd.read_csv('final_raw_total.csv')

In [32]:
df_STS

            Date  STS_price
0     2011-01-01      100.7
1     2011-01-02      100.7
2     2011-01-03      100.7
3     2011-01-04      100.7
4     2011-01-05      100.7
...          ...        ...
4103  2022-03-27        NaN
4104  2022-03-28        NaN
4105  2022-03-29        NaN
4106  2022-03-30        NaN
4107  2022-03-31        NaN

[4108 rows x 2 columns]

In [33]:
df

,Date,Price,Open,High,Low,Change %,Y2_Price,Y2_Open,Y2_High,Y2_Low,...,Dollor_Change %_x,Dollor_Price_y,Dollor_Open_y,Dollor_High_y,Dollor_Low_y,Dollor_Change %_y,Current_Price,Current_Change,Current_Change %,Stock
0,2011-01-04,"25,120.00","25,120.00","25,120.00","25,120.00",0.0164,0.621,0.621,0.621,0.621,...,0.39,79.44,79.09,79.51,78.89,0.39,"25,175.00",215,0.86,"136,890.00"
1,2011-01-05,"24,720.00","24,720.00","24,720.00","24,720.00",-0.0159,0.708,0.708,0.708,0.708,...,1.03,80.26,79.40,80.35,79.34,1.03,"24,650.00",-525,-2.09,"136,860.00"
2,2011-01-06,"24,534.00","24,534.00","24,534.00","24,534.00",-0.0075,0.677,0.677,0.677,0.677,...,0.66,80.79,80.19,80.94,80.15,0.66,"24,875.00",225,0.91,"137,040.00"
3,2011-01-07,"24,180.00","24,180.00","24,180.00","24,180.00",-0.0144,0.597,0.597,0.597,0.597,...,0.27,81.01,80.87,81.14,80.69,0.27,"24,345.00",-530,-2.13,"136,896.00"
4,2011-01-10,"23,847.00","23,847.00","23,847.00","23,847.00",-0.0138,0.573,0.573,0.573,0.573,...,-0.16,80.88,81.16,81.31,80.81,-0.16,"24,050.00",-295,-1.21,"136,806.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5542,2010-12-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5543,2010-12-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5544,2010-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5545,2022-03-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5546,2022-03-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
raw_df = pd.merge(df, df_STS, on = "Date", how = "outer")

In [35]:
raw_df

,Date,Price,Open,High,Low,Change %,Y2_Price,Y2_Open,Y2_High,Y2_Low,...,Dollor_Price_y,Dollor_Open_y,Dollor_High_y,Dollor_Low_y,Dollor_Change %_y,Current_Price,Current_Change,Current_Change %,Stock,STS_price
0,2011-01-04,"25,120.00","25,120.00","25,120.00","25,120.00",0.0164,0.621,0.621,0.621,0.621,...,79.44,79.09,79.51,78.89,0.39,"25,175.00",215,0.86,"136,890.00",100.7
1,2011-01-05,"24,720.00","24,720.00","24,720.00","24,720.00",-0.0159,0.708,0.708,0.708,0.708,...,80.26,79.40,80.35,79.34,1.03,"24,650.00",-525,-2.09,"136,860.00",100.7
2,2011-01-06,"24,534.00","24,534.00","24,534.00","24,534.00",-0.0075,0.677,0.677,0.677,0.677,...,80.79,80.19,80.94,80.15,0.66,"24,875.00",225,0.91,"137,040.00",100.7
3,2011-01-07,"24,180.00","24,180.00","24,180.00","24,180.00",-0.0144,0.597,0.597,0.597,0.597,...,81.01,80.87,81.14,80.69,0.27,"24,345.00",-530,-2.13,"136,896.00",100.7
4,2011-01-10,"23,847.00","23,847.00","23,847.00","23,847.00",-0.0138,0.573,0.573,0.573,0.573,...,80.88,81.16,81.31,80.81,-0.16,"24,050.00",-295,-1.21,"136,806.00",100.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5560,2022-03-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5561,2022-03-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5562,2022-03-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5563,2022-03-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5564,2022-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
raw_df.to_csv('final_total2.csv')

In [51]:
raw_df = pd.read_csv('final_total3.csv')

In [39]:
raw_df["Date"] = pd.to_datetime(raw_df["Date"])

In [41]:
df = raw_df

In [48]:
df.to_csv('final_total3.csv')

In [52]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2792 entries, 0 to 2791
Data columns (total 83 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               2792 non-null   object
 1   Price              2792 non-null   int64
 2   Open               2792 non-null   int64
 3   High               2792 non-null   int64
 4   Low                2792 non-null   int64
 5   Change %           2792 non-null   float64
 6   Y2_Price           2772 non-null   float64
 7   Y2_Open            2772 non-null   float64
 8   Y2_High            2772 non-null   float64
 9   Y2_Low             2772 non-null   float64
 10  Y2_Change          2772 non-null   float64
 11  Y10_Price          2778 non-null   float64
 12  Y10_Open           2778 non-null   float64
 13  Y10_High           2778 non-null   float64
 14  Y10_Low            2778 non-null   float64
 15  Y10_Change         2778 non-null   float64
 16  UC_Price           2778 non-null   float64
 17  UC_Open            2778 non-null   float64
 18  UC_High            2778 non-null   float64
 19  UC_Low             2778 non-null   float64
 20  UC_Change          2778 non-null   float64
 21  EU_Price           2792 non-null   float64
 22  EU_Open            2792 non-null   float64
 23  EU_High            2792 non-null   float64
 24  EU_Low             2792 non-null   float64
 25  EU_Change          2792 non-null   float64
 26  GB_Price           2792 non-null   float64
 27  GB_Open            2792 non-null   float64
 28  GB_High            2792 non-null   float64
 29  GB_Low             2792 non-null   float64
 30  GB_Change          2792 non-null   float64
 31  JP_Price           2792 non-null   float64
 32  JP_Open            2792 non-null   float64
 33  JP_High            2792 non-null   float64
 34  JP_Low             2792 non-null   float64
 35  JP_Change          2792 non-null   float64
 36  KR_Price           2792 non-null   int64
 37  KR_Open            2792 non-null   int64
 38  KR_High            2792 non-null   int64
 39  KR_Low             2792 non-null   int64
 40  KR_Change          2792 non-null   float64
 41  NetWeight          2744 non-null   float64
 42  TradeValue         2744 non-null   float64
 43  WTI_Price          2778 non-null   float64
 44  WTI_Open           2778 non-null   float64
 45  WTI_High           2778 non-null   float64
 46  WTI_Low            2778 non-null   float64
 47  WTI_Change         2778 non-null   float64
 48  B_Price            2792 non-null   float64
 49  B_Open             2792 non-null   float64
 50  B_High             2792 non-null   float64
 51  B_Low              2792 non-null   float64
 52  B_Change           2792 non-null   float64
 53  Price_y            2778 non-null   float64
 54  Open_y             2778 non-null   float64
 55  High_y             2778 non-null   float64
 56  Low_y              2778 non-null   float64
 57  Change %_y         2778 non-null   float64
 58  Gas_Price          2778 non-null   float64
 59  Gas_Open           2778 non-null   float64
 60  Gas_High           2778 non-null   float64
 61  Gas_Low            2778 non-null   float64
 62  Gas_Change %       2778 non-null   float64
 63  heating_Price      2791 non-null   float64
 64  heating_Open       2791 non-null   float64
 65  heating_High       2791 non-null   float64
 66  heating_Low        2791 non-null   float64
 67  heating_Change %   2791 non-null   float64
 68  NAV                2792 non-null   float64
 69  Dollor_Price_x     2791 non-null   float64
 70  Dollor_Open_x      2791 non-null   float64
 71  Dollor_High_x      2791 non-null   float64
 72  Dollor_Low_x       2791 non-null   float64
 73  Dollor_Change %_x  2791 non-null   float64
 74  Dollor_Price_y     2791 non-null   float64
 75  Dollor_Open_y      2791 non-null   float64
 76  Dollor_High_y      2791 non-null   float64
 77  Dollor_Low_y       2791 non-null   float64
 78  Dollor_Change %_y  2791 non-null   float64
 79  Current_Price      2791 non-null   float64
 80  Current_Change %   2791 non-null   float64
 81  Stock              2791 non-null   float64
 82  STS_price          2784 non-null   float64
dtypes: float64(74), int64(8), object(1)
memory usage: 1.8+ MB