In [1]:
import pandas as pd

In [ ]:
raw_df = pd.read_csv("nickel_future_daily.csv")

In [ ]:
raw_df

In [ ]:
df_year2 = pd.read_csv("2year_bond.csv")

In [ ]:
df_year2

In [ ]:
df_year2.columns

In [ ]:
df_year2.columns = ["Date", "Y2_Price", "Y2_Open", 'Y2_High', 'Y2_Low', 'Y2_Change']

In [ ]:
df_total = pd.merge(raw_df, df_year2, on = "Date", how = "outer")

In [ ]:
df_total

In [ ]:
df_year10 = pd.read_csv("10year_bond.csv")

In [ ]:
df_year10

In [ ]:
df_year10.columns

In [ ]:
df_year10.columns = ["Date", "Y10_Price", "Y10_Open", 'Y10_High', 'Y10_Low', 'Y10_Change']

In [ ]:
df_total = pd.merge(df_total, df_year10, on = "Date", how = "outer")

In [ ]:
df_total

In [ ]:
df_us_cn = pd.read_csv("us_cn.csv")

In [ ]:
df_us_cn

In [ ]:
df_us_cn = df_us_cn.drop(['Unnamed: 0'], axis=1)

In [ ]:
df_total = pd.read_csv("total.csv")

In [ ]:
df_total = pd.merge(df_total, df_us_cn, on = "Date", how = "outer")

In [ ]:
df_total

In [ ]:
df_us_eu = pd.read_csv("us_eu.csv")
df_us_eu = df_us_eu.drop(['Unnamed: 0'], axis=1)
df_us_eu.columns
df_us_eu.columns = ["Date", "EU_Price", "EU_Open", 'EU_High', 'EU_Low', 'EU_Change']
df_total = pd.merge(df_total, df_us_eu, on = "Date", how = "outer")
df_total

In [ ]:
df_us_gb = pd.read_csv("us_gb.csv")
df_us_gb = df_us_gb.drop(['Unnamed: 0'], axis=1)
df_us_gb.columns
df_us_gb.columns = ["Date", "GB_Price", "GB_Open", 'GB_High', 'GB_Low', 'GB_Change']
df_total = pd.merge(df_total, df_us_gb, on = "Date", how = "outer")
df_total

In [ ]:
df_us_jp = pd.read_csv("us_jp.csv")
df_us_jp = df_us_jp.drop(['Unnamed: 0'], axis=1)
df_us_jp.columns
df_us_jp.columns = ["Date", "JP_Price", "JP_Open", 'JP_High', 'JP_Low', 'JP_Change']
df_total = pd.merge(df_total, df_us_jp, on = "Date", how = "outer")
df_total

In [ ]:
df_us_kr = pd.read_csv("us_kr.csv")
df_us_kr = df_us_kr.drop(['Unnamed: 0'], axis=1)
df_us_kr.columns
df_us_kr.columns = ["Date", "KR_Price", "KR_Open", 'KR_High', 'KR_Low', 'KR_Change']
df_total = pd.merge(df_total, df_us_kr, on = "Date", how = "outer")
df_total

In [ ]:
df_total = pd.read_csv("total.csv")

In [ ]:
df_total

In [ ]:
df_comtrade_un = pd.read_csv("Comtrade_UN_daily.csv")
df_comtrade_un.columns

In [ ]:
df_total = pd.merge(df_total, df_comtrade_un, on = "Date", how = "outer")
df_total

In [6]:
df_raw = pd.read_csv("raw_total.csv")

In [7]:
df = df_raw

In [8]:
df = df.drop(['Unnamed: 0'], axis=1)

In [9]:
df

,Date,Price,Open,High,Low,Change %,Y2_Price,Y2_Open,Y2_High,Y2_Low,...,JP_High,JP_Low,JP_Change,KR_Price,KR_Open,KR_High,KR_Low,KR_Change,NetWeight,TradeValue
0,2011.1.4,"25,120.00","25,120.00","25,120.00","25,120.00",0.0164,0.621,0.621,0.621,0.621,...,82.28,81.61,0.0047,"1,125.50","1,125.80","1,127.20","1,120.30",0.0008,779926682.0,155396452.0
1,2011.1.5,"24,720.00","24,720.00","24,720.00","24,720.00",-0.0159,0.708,0.708,0.708,0.708,...,83.38,81.89,0.0138,"1,123.50","1,125.50","1,129.50","1,123.30",-0.0018,779926682.0,155396452.0
2,2011.1.6,"24,534.00","24,534.00","24,534.00","24,534.00",-0.0075,0.677,0.677,0.677,0.677,...,83.39,82.88,0.0015,"1,123.20","1,122.50","1,124.90","1,117.70",-0.0003,779926682.0,155396452.0
3,2011.1.7,"24,180.00","24,180.00","24,180.00","24,180.00",-0.0144,0.597,0.597,0.597,0.597,...,83.69,82.86,-0.0020,"1,122.20","1,122.40","1,126.70","1,118.60",-0.0009,779926682.0,155396452.0
4,2011.1.10,"23,847.00","23,847.00","23,847.00","23,847.00",-0.0138,0.573,0.573,0.573,0.573,...,83.28,82.67,-0.0051,"1,127.50","1,124.20","1,134.05","1,120.10",0.0047,779926682.0,155396452.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4083,2022.2.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4084,2022.2.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4085,2022.2.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4086,2022.2.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4087,2022.3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df_energy = pd.read_csv("total energy.csv")

In [11]:
df_energy

,Date,WTI_Price,WTI_Open,WTI_High,WTI_Low,WTI_Change,B_Price,B_Open,B_High,B_Low,...,Gas_Price,Gas_Open,Gas_High,Gas_Low,Gas_Change %,heating_Price,heating_Open,heating_High,heating_Low,heating_Change %
0,2011.1.4,89.38,91.50,92.07,88.36,-2.37%,93.53,94.92,95.74,92.58,...,4.669,4.627,4.707,4.557,0.41%,2.5065,2.5550,2.5723,2.4835,-1.81%
1,2011.1.5,90.30,89.29,90.84,88.10,1.03%,95.50,93.35,95.86,92.37,...,4.473,4.611,4.640,4.447,-4.20%,2.5422,2.5035,2.5536,2.4678,1.42%
2,2011.1.6,88.38,90.47,90.71,87.85,-2.13%,94.52,95.70,96.12,94.01,...,4.434,4.486,4.623,4.380,-0.87%,2.5112,2.5455,2.5586,2.4988,-1.22%
3,2011.1.7,88.03,88.18,89.48,87.25,-0.40%,93.33,94.38,94.58,92.59,...,4.422,4.400,4.450,4.327,-0.27%,2.4863,2.5139,2.5233,2.4710,-0.99%
4,2011.1.10,89.25,89.00,89.98,88.13,1.39%,95.70,93.80,95.88,93.60,...,4.399,4.373,4.450,4.322,-0.52%,2.5561,2.5090,2.5635,2.4930,2.81%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2931,2011.5.30,NaN,NaN,NaN,NaN,NaN,114.68,114.87,115.00,114.24,...,NaN,NaN,NaN,NaN,NaN,2.9968,2.9973,2.9990,2.9767,0.21%
2932,2011.4.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.2026,3.2026,3.2026,3.2026,0.11%
2933,2011.12.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.9047,2.9085,2.9120,2.9047,0.48%
2934,2012.1.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.9375,2.9108,2.9430,2.9108,0.09%
2935,2013.1.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.0344,3.0337,3.0360,3.0316,-0.35%

In [12]:
df_total = pd.merge(df, df_energy, on = "Date", how = "outer")
df_total

,Date,Price,Open,High,Low,Change %,Y2_Price,Y2_Open,Y2_High,Y2_Low,...,Gas_Price,Gas_Open,Gas_High,Gas_Low,Gas_Change %,heating_Price,heating_Open,heating_High,heating_Low,heating_Change %
0,2011.1.4,"25,120.00","25,120.00","25,120.00","25,120.00",0.0164,0.621,0.621,0.621,0.621,...,4.669,4.627,4.707,4.557,0.41%,2.5065,2.5550,2.5723,2.4835,-1.81%
1,2011.1.5,"24,720.00","24,720.00","24,720.00","24,720.00",-0.0159,0.708,0.708,0.708,0.708,...,4.473,4.611,4.640,4.447,-4.20%,2.5422,2.5035,2.5536,2.4678,1.42%
2,2011.1.6,"24,534.00","24,534.00","24,534.00","24,534.00",-0.0075,0.677,0.677,0.677,0.677,...,4.434,4.486,4.623,4.380,-0.87%,2.5112,2.5455,2.5586,2.4988,-1.22%
3,2011.1.7,"24,180.00","24,180.00","24,180.00","24,180.00",-0.0144,0.597,0.597,0.597,0.597,...,4.422,4.400,4.450,4.327,-0.27%,2.4863,2.5139,2.5233,2.4710,-0.99%
4,2011.1.10,"23,847.00","23,847.00","23,847.00","23,847.00",-0.0138,0.573,0.573,0.573,0.573,...,4.399,4.373,4.450,4.322,-0.52%,2.5561,2.5090,2.5635,2.4930,2.81%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4083,2022.2.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4084,2022.2.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4085,2022.2.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.579,4.529,4.598,4.527,3.34%,2.7832,2.7833,2.7889,2.7821,0.06%
4086,2022.2.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4087,2022.3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df_kh = pd.read_csv('total_kh.csv')

In [14]:
df_kh

,Date,NAV,Dollor_Price_x,Dollor_Open_x,Dollor_High_x,Dollor_Low_x,Dollor_Change %_x,Dollor_Price_y,Dollor_Open_y,Dollor_High_y,Dollor_Low_y,Dollor_Change %_y,Current_Price,Current_Change,Current_Change %,Stock
0,2011.1.4,31.64,79.44,79.09,79.51,78.89,0.39,79.44,79.09,79.51,78.89,0.39,"25,175.00",215,0.86,"136,890.00"
1,2011.1.5,31.91,80.26,79.40,80.35,79.34,1.03,80.26,79.40,80.35,79.34,1.03,"24,650.00",-525,-2.09,"136,860.00"
2,2011.1.6,31.57,80.79,80.19,80.94,80.15,0.66,80.79,80.19,80.94,80.15,0.66,"24,875.00",225,0.91,"137,040.00"
3,2011.1.7,31.65,81.01,80.87,81.14,80.69,0.27,81.01,80.87,81.14,80.69,0.27,"24,345.00",-530,-2.13,"136,896.00"
4,2011.1.10,31.88,80.88,81.16,81.31,80.81,-0.16,80.88,81.16,81.31,80.81,-0.16,"24,050.00",-295,-1.21,"136,806.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5542,2022.3.5,21.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5543,2022.3.6,21.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5544,2022.3.11,21.84,99.12,98.36,99.16,98.27,0.63,99.12,98.36,99.16,98.27,0.63,NaN,NaN,NaN,NaN
5545,2022.3.12,21.84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5546,2022.3.13,21.84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df_total = pd.merge(df_total, df_kh, on = "Date", how = "outer")
df_total

,Date,Price,Open,High,Low,Change %,Y2_Price,Y2_Open,Y2_High,Y2_Low,...,Dollor_Change %_x,Dollor_Price_y,Dollor_Open_y,Dollor_High_y,Dollor_Low_y,Dollor_Change %_y,Current_Price,Current_Change,Current_Change %,Stock
0,2011.1.4,"25,120.00","25,120.00","25,120.00","25,120.00",0.0164,0.621,0.621,0.621,0.621,...,0.39,79.44,79.09,79.51,78.89,0.39,"25,175.00",215,0.86,"136,890.00"
1,2011.1.5,"24,720.00","24,720.00","24,720.00","24,720.00",-0.0159,0.708,0.708,0.708,0.708,...,1.03,80.26,79.40,80.35,79.34,1.03,"24,650.00",-525,-2.09,"136,860.00"
2,2011.1.6,"24,534.00","24,534.00","24,534.00","24,534.00",-0.0075,0.677,0.677,0.677,0.677,...,0.66,80.79,80.19,80.94,80.15,0.66,"24,875.00",225,0.91,"137,040.00"
3,2011.1.7,"24,180.00","24,180.00","24,180.00","24,180.00",-0.0144,0.597,0.597,0.597,0.597,...,0.27,81.01,80.87,81.14,80.69,0.27,"24,345.00",-530,-2.13,"136,896.00"
4,2011.1.10,"23,847.00","23,847.00","23,847.00","23,847.00",-0.0138,0.573,0.573,0.573,0.573,...,-0.16,80.88,81.16,81.31,80.81,-0.16,"24,050.00",-295,-1.21,"136,806.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5542,2010.12.29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5543,2010.12.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5544,2010.12.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5545,2022.3.12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5546,2022.3.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df_total.to_csv("final_raw_total.csv", encoding="utf-8")

In [17]:
after_total = df_total.dropna(axis=0)

In [44]:
after_total.to_csv("final_total1.csv", encoding="utf-8")

In [39]:
after_total["Date"] = pd.to_datetime(after_total["Date"])

In [40]:
after_total["Date"] = after_total["Date"].dt.strftime("%Y-%m-%d")

In [42]:
after_total

,Date,Price,Open,High,Low,Change %,Y2_Price,Y2_Open,Y2_High,Y2_Low,...,Dollor_Change %_x,Dollor_Price_y,Dollor_Open_y,Dollor_High_y,Dollor_Low_y,Dollor_Change %_y,Current_Price,Current_Change,Current_Change %,Stock
0,2011-01-04,25120.0,25120.0,25120.0,25120.0,0.0164,0.6210,0.621,0.621,0.621,...,0.39,79.44,79.09,79.51,78.89,0.39,25175,215,0.86,136890
1,2011-01-05,24720.0,24720.0,24720.0,24720.0,-0.0159,0.7080,0.708,0.708,0.708,...,1.03,80.26,79.40,80.35,79.34,1.03,24650,-525,-2.09,136860
2,2011-01-06,24534.0,24534.0,24534.0,24534.0,-0.0075,0.6770,0.677,0.677,0.677,...,0.66,80.79,80.19,80.94,80.15,0.66,24875,225,0.91,137040
3,2011-01-07,24180.0,24180.0,24180.0,24180.0,-0.0144,0.5970,0.597,0.597,0.597,...,0.27,81.01,80.87,81.14,80.69,0.27,24345,-530,-2.13,136896
4,2011-01-10,23847.0,23847.0,23847.0,23847.0,-0.0138,0.5730,0.573,0.573,0.573,...,-0.16,80.88,81.16,81.31,80.81,-0.16,24050,-295,-1.21,136806
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2700,2021-12-22,19951.0,19900.0,19850.0,19855.0,0.0171,0.6647,0.654,0.683,0.654,...,-0.43,96.08,96.47,96.60,96.02,-0.43,19985,235,1.19,104310
2701,2021-12-23,20021.0,20050.0,20040.0,20050.0,0.0035,0.6914,0.669,0.693,0.663,...,-0.06,96.02,96.03,96.28,95.99,-0.06,20180,195,0.98,104160
2702,2021-12-29,20383.0,20230.0,20200.0,20215.0,0.0169,0.7520,0.748,0.764,0.736,...,-0.28,95.93,96.15,96.39,95.76,-0.28,20320,25,0.12,103656
2703,2021-12-30,20587.0,20525.0,20490.0,20500.0,0.0100,0.7303,0.752,0.754,0.726,...,0.04,95.97,95.89,96.22,95.86,0.04,20700,380,1.87,103020
2704,2021-12-31,20757.0,20800.0,20750.0,20750.0,0.0083,0.7341,0.730,0.744,0.720,...,0.00,95.97,95.99,96.11,95.57,0.00,20925,225,1.09,101886

In [46]:
after_total = pd.read_csv("final_total1.csv")

In [48]:
after_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2705 entries, 0 to 2704
Data columns (total 83 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               2705 non-null   object
 1   Price              2705 non-null   float64
 2   Open               2705 non-null   float64
 3   High               2705 non-null   float64
 4   Low                2705 non-null   float64
 5   Change %           2705 non-null   float64
 6   Y2_Price           2705 non-null   float64
 7   Y2_Open            2705 non-null   float64
 8   Y2_High            2705 non-null   float64
 9   Y2_Low             2705 non-null   float64
 10  Y2_Change          2705 non-null   float64
 11  Y10_Price          2705 non-null   float64
 12  Y10_Open           2705 non-null   float64
 13  Y10_High           2705 non-null   float64
 14  Y10_Low            2705 non-null   float64
 15  Y10_Change         2705 non-null   float64
 16  UC_Price           2705 non-null   float64
 17  UC_Open            2705 non-null   float64
 18  UC_High            2705 non-null   float64
 19  UC_Low             2705 non-null   float64
 20  UC_Change          2705 non-null   float64
 21  EU_Price           2705 non-null   float64
 22  EU_Open            2705 non-null   float64
 23  EU_High            2705 non-null   float64
 24  EU_Low             2705 non-null   float64
 25  EU_Change          2705 non-null   float64
 26  GB_Price           2705 non-null   float64
 27  GB_Open            2705 non-null   float64
 28  GB_High            2705 non-null   float64
 29  GB_Low             2705 non-null   float64
 30  GB_Change          2705 non-null   float64
 31  JP_Price           2705 non-null   float64
 32  JP_Open            2705 non-null   float64
 33  JP_High            2705 non-null   float64
 34  JP_Low             2705 non-null   float64
 35  JP_Change          2705 non-null   float64
 36  KR_Price           2705 non-null   float64
 37  KR_Open            2705 non-null   float64
 38  KR_High            2705 non-null   float64
 39  KR_Low             2705 non-null   float64
 40  KR_Change          2705 non-null   float64
 41  NetWeight          2705 non-null   int64
 42  TradeValue         2705 non-null   int64
 43  WTI_Price          2705 non-null   float64
 44  WTI_Open           2705 non-null   float64
 45  WTI_High           2705 non-null   float64
 46  WTI_Low            2705 non-null   float64
 47  WTI_Change         2705 non-null   float64
 48  B_Price            2705 non-null   float64
 49  B_Open             2705 non-null   float64
 50  B_High             2705 non-null   float64
 51  B_Low              2705 non-null   float64
 52  B_Change           2705 non-null   float64
 53  Price_y            2705 non-null   float64
 54  Open_y             2705 non-null   float64
 55  High_y             2705 non-null   float64
 56  Low_y              2705 non-null   float64
 57  Change %_y         2705 non-null   float64
 58  Gas_Price          2705 non-null   float64
 59  Gas_Open           2705 non-null   float64
 60  Gas_High           2705 non-null   float64
 61  Gas_Low            2705 non-null   float64
 62  Gas_Change %       2705 non-null   float64
 63  heating_Price      2705 non-null   float64
 64  heating_Open       2705 non-null   float64
 65  heating_High       2705 non-null   float64
 66  heating_Low        2705 non-null   float64
 67  heating_Change %   2705 non-null   float64
 68  NAV                2705 non-null   float64
 69  Dollor_Price_x     2705 non-null   float64
 70  Dollor_Open_x      2705 non-null   float64
 71  Dollor_High_x      2705 non-null   float64
 72  Dollor_Low_x       2705 non-null   float64
 73  Dollor_Change %_x  2705 non-null   float64
 74  Dollor_Price_y     2705 non-null   float64
 75  Dollor_Open_y      2705 non-null   float64
 76  Dollor_High_y      2705 non-null   float64
 77  Dollor_Low_y       2705 non-null   float64
 78  Dollor_Change %_y  2705 non-null   float64
 79  Current_Price      2705 non-null   int64
 80  Current_Change     2705 non-null   int64
 81  Current_Change %   2705 non-null   float64
 82  Stock              2705 non-null   int64
dtypes: float64(77), int64(5), object(1)
memory usage: 1.7+ MB

In [30]:
df_STS = pd.read_csv('STS_Price.csv')

In [31]:
df = pd.read_csv('final_raw_total.csv')

In [32]:
df_STS

            Date  STS_price
0     2011-01-01      100.7
1     2011-01-02      100.7
2     2011-01-03      100.7
3     2011-01-04      100.7
4     2011-01-05      100.7
...          ...        ...
4103  2022-03-27        NaN
4104  2022-03-28        NaN
4105  2022-03-29        NaN
4106  2022-03-30        NaN
4107  2022-03-31        NaN

[4108 rows x 2 columns]

In [33]:
df

,Date,Price,Open,High,Low,Change %,Y2_Price,Y2_Open,Y2_High,Y2_Low,...,Dollor_Change %_x,Dollor_Price_y,Dollor_Open_y,Dollor_High_y,Dollor_Low_y,Dollor_Change %_y,Current_Price,Current_Change,Current_Change %,Stock
0,2011-01-04,"25,120.00","25,120.00","25,120.00","25,120.00",0.0164,0.621,0.621,0.621,0.621,...,0.39,79.44,79.09,79.51,78.89,0.39,"25,175.00",215,0.86,"136,890.00"
1,2011-01-05,"24,720.00","24,720.00","24,720.00","24,720.00",-0.0159,0.708,0.708,0.708,0.708,...,1.03,80.26,79.40,80.35,79.34,1.03,"24,650.00",-525,-2.09,"136,860.00"
2,2011-01-06,"24,534.00","24,534.00","24,534.00","24,534.00",-0.0075,0.677,0.677,0.677,0.677,...,0.66,80.79,80.19,80.94,80.15,0.66,"24,875.00",225,0.91,"137,040.00"
3,2011-01-07,"24,180.00","24,180.00","24,180.00","24,180.00",-0.0144,0.597,0.597,0.597,0.597,...,0.27,81.01,80.87,81.14,80.69,0.27,"24,345.00",-530,-2.13,"136,896.00"
4,2011-01-10,"23,847.00","23,847.00","23,847.00","23,847.00",-0.0138,0.573,0.573,0.573,0.573,...,-0.16,80.88,81.16,81.31,80.81,-0.16,"24,050.00",-295,-1.21,"136,806.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5542,2010-12-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5543,2010-12-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5544,2010-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5545,2022-03-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5546,2022-03-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
raw_df = pd.merge(df, df_STS, on = "Date", how = "outer")

In [35]:
raw_df

,Date,Price,Open,High,Low,Change %,Y2_Price,Y2_Open,Y2_High,Y2_Low,...,Dollor_Price_y,Dollor_Open_y,Dollor_High_y,Dollor_Low_y,Dollor_Change %_y,Current_Price,Current_Change,Current_Change %,Stock,STS_price
0,2011-01-04,"25,120.00","25,120.00","25,120.00","25,120.00",0.0164,0.621,0.621,0.621,0.621,...,79.44,79.09,79.51,78.89,0.39,"25,175.00",215,0.86,"136,890.00",100.7
1,2011-01-05,"24,720.00","24,720.00","24,720.00","24,720.00",-0.0159,0.708,0.708,0.708,0.708,...,80.26,79.40,80.35,79.34,1.03,"24,650.00",-525,-2.09,"136,860.00",100.7
2,2011-01-06,"24,534.00","24,534.00","24,534.00","24,534.00",-0.0075,0.677,0.677,0.677,0.677,...,80.79,80.19,80.94,80.15,0.66,"24,875.00",225,0.91,"137,040.00",100.7
3,2011-01-07,"24,180.00","24,180.00","24,180.00","24,180.00",-0.0144,0.597,0.597,0.597,0.597,...,81.01,80.87,81.14,80.69,0.27,"24,345.00",-530,-2.13,"136,896.00",100.7
4,2011-01-10,"23,847.00","23,847.00","23,847.00","23,847.00",-0.0138,0.573,0.573,0.573,0.573,...,80.88,81.16,81.31,80.81,-0.16,"24,050.00",-295,-1.21,"136,806.00",100.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5560,2022-03-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5561,2022-03-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5562,2022-03-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5563,2022-03-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5564,2022-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
raw_df.to_csv('final_total2.csv')

In [51]:
raw_df = pd.read_csv('final_total3.csv')

In [39]:
raw_df["Date"] = pd.to_datetime(raw_df["Date"])

In [41]:
df = raw_df

In [48]:
df.to_csv('final_total3.csv')

In [52]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2792 entries, 0 to 2791
Data columns (total 83 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               2792 non-null   object
 1   Price              2792 non-null   int64
 2   Open               2792 non-null   int64
 3   High               2792 non-null   int64
 4   Low                2792 non-null   int64
 5   Change %           2792 non-null   float64
 6   Y2_Price           2772 non-null   float64
 7   Y2_Open            2772 non-null   float64
 8   Y2_High            2772 non-null   float64
 9   Y2_Low             2772 non-null   float64
 10  Y2_Change          2772 non-null   float64
 11  Y10_Price          2778 non-null   float64
 12  Y10_Open           2778 non-null   float64
 13  Y10_High           2778 non-null   float64
 14  Y10_Low            2778 non-null   float64
 15  Y10_Change         2778 non-null   float64
 16  UC_Price           2778 non-null   float64
 17  UC_Open            2778 non-null   float64
 18  UC_High            2778 non-null   float64
 19  UC_Low             2778 non-null   float64
 20  UC_Change          2778 non-null   float64
 21  EU_Price           2792 non-null   float64
 22  EU_Open            2792 non-null   float64
 23  EU_High            2792 non-null   float64
 24  EU_Low             2792 non-null   float64
 25  EU_Change          2792 non-null   float64
 26  GB_Price           2792 non-null   float64
 27  GB_Open            2792 non-null   float64
 28  GB_High            2792 non-null   float64
 29  GB_Low             2792 non-null   float64
 30  GB_Change          2792 non-null   float64
 31  JP_Price           2792 non-null   float64
 32  JP_Open            2792 non-null   float64
 33  JP_High            2792 non-null   float64
 34  JP_Low             2792 non-null   float64
 35  JP_Change          2792 non-null   float64
 36  KR_Price           2792 non-null   int64
 37  KR_Open            2792 non-null   int64
 38  KR_High            2792 non-null   int64
 39  KR_Low             2792 non-null   int64
 40  KR_Change          2792 non-null   float64
 41  NetWeight          2744 non-null   float64
 42  TradeValue         2744 non-null   float64
 43  WTI_Price          2778 non-null   float64
 44  WTI_Open           2778 non-null   float64
 45  WTI_High           2778 non-null   float64
 46  WTI_Low            2778 non-null   float64
 47  WTI_Change         2778 non-null   float64
 48  B_Price            2792 non-null   float64
 49  B_Open             2792 non-null   float64
 50  B_High             2792 non-null   float64
 51  B_Low              2792 non-null   float64
 52  B_Change           2792 non-null   float64
 53  Price_y            2778 non-null   float64
 54  Open_y             2778 non-null   float64
 55  High_y             2778 non-null   float64
 56  Low_y              2778 non-null   float64
 57  Change %_y         2778 non-null   float64
 58  Gas_Price          2778 non-null   float64
 59  Gas_Open           2778 non-null   float64
 60  Gas_High           2778 non-null   float64
 61  Gas_Low            2778 non-null   float64
 62  Gas_Change %       2778 non-null   float64
 63  heating_Price      2791 non-null   float64
 64  heating_Open       2791 non-null   float64
 65  heating_High       2791 non-null   float64
 66  heating_Low        2791 non-null   float64
 67  heating_Change %   2791 non-null   float64
 68  NAV                2792 non-null   float64
 69  Dollor_Price_x     2791 non-null   float64
 70  Dollor_Open_x      2791 non-null   float64
 71  Dollor_High_x      2791 non-null   float64
 72  Dollor_Low_x       2791 non-null   float64
 73  Dollor_Change %_x  2791 non-null   float64
 74  Dollor_Price_y     2791 non-null   float64
 75  Dollor_Open_y      2791 non-null   float64
 76  Dollor_High_y      2791 non-null   float64
 77  Dollor_Low_y       2791 non-null   float64
 78  Dollor_Change %_y  2791 non-null   float64
 79  Current_Price      2791 non-null   float64
 80  Current_Change %   2791 non-null   float64
 81  Stock              2791 non-null   float64
 82  STS_price          2784 non-null   float64
dtypes: float64(74), int64(8), object(1)
memory usage: 1.8+ MB